.inputContainer {

}
.inputContainer div:focus {
  outline: 0 none;
}
.inputContainer label {
  left: 0;
  right: auto;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  bottom: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -ms-flex-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-transform: translate3d(0,40px,0) scale(1);
  transform: translate3d(0,40px,0) scale(1);
  transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  max-width: 100%;
  font-size: 20px;

}
.inputContainer input {
  border: 0 !important;
  border-bottom: 2px solid #e0e0e0 !important;
  font-size: 20px;
  outline: 0 none;
  width: 100%;
  box-shadow: 0 0 0 1000px #FFF inset!important;
}

.inputContainer input:focus {
  border-bottom: 2px solid #5bc0de !important;
  transition: border-bottom 0.3s linear;
  outline: 0 none;
}
.transform{
  transform: translate3d(0, 15px, 0) scale(.75) !important;
}
